body {
	background: rgb(100, 100, 100);
}
.editor {
	border: 1px solid #fff;
	background: rgb(200, 200, 200);
	
	top: 0.313em;
	bottom: 0.313em;
	left: 0.313em; 
	right: 0.313em;

	padding: 0.125em;


}
.absolute {
	position: absolute;
}
.editor-menu-1 {
	border: 1px solid #0f0;
	height: 2.5em;
}
.editor-menu-2 {
	border: 1px solid #0ff;
	height: 2.5em;
}
.editor-menu-3 {
	border: 1px solid #00f;
	height: 2.5em;
}
.editor-content {
	display: flex;
	border: 1px solid #ff0;
	top: 8em;
	bottom: 0.125em;
	left: 0.125em; 
	right: 0.125em;
	background: rgb(255, 255, 255);
}
.editor-content-textarea {
	position: relative;
	top: 0px;
	bottom: 0px;
	resize: horizontal;
	word-break: break-word;
	white-space: pre-wrap;
	padding: 1em;
	overflow-y: scroll;
}
.editor-content-left {
	
	border: 1px solid #00f000;
	width: 100%;

}
.editor-content-center {
	border: 1px solid #f000f0;
	width: 75%;
	
}
.editor-content-right {
	border: 1px solid #00f0f0;
	width: 100%;
}
.editor-drop {
	border: 1px solid #fff;
	background: rgb(255, 255, 255);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	visibility: hidden;

}
.editor-drop-active {
	border: 5em solid rgba(150, 150, 150, 0.5);
	background: rgba(200, 200, 200, 0.5);

	visibility: visible;
	pointer-events: none;
	font-size: 2em;
	text-align: center;
	line-height: 1em;

}
button {
	height: 3em;
	width: 8em;
}