/* note to self, don't monkey with zindexes here or the fucking apocalypse will occur */
/* desktop */
body {
	background-color: rgb(200, 200, 200);
	position: initial;
	overflow: hidden;

	margin: 0.00em;
	padding: 0.00em;

	left: 0.00em;
	top: 0.00em;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
canvas {
	border: 0.00em solid #000;
	background-color: rgb(200, 200, 200);
}
#dynamic-loads {
	pointer-events: none;
}

#app-content {
	position: absolute;
	/*top: 15%;*/
	/*left: 25%;*/
	/*width: 500px;*/
	/*height: 500px;*/

	z-index: 0;

	left: 0.00em;
	right: 0.00em;
	top: 0.00em;
	bottom: 0.00em;

	border: 0.00em solid #f00;
}
#app-loading {
	position: absolute;
	font-weight: bolder;
	font-size: 2em;
	border: 10px solid #ff0;
	height: auto;
	text-align: center;
	
	pointer-events: none;
	left: 0.00em;
	right: 0.00em;
	top: 50%;
	vertical-align: bottom;
}

/* the parent element that contains all ui elements */
#ui-container {
	position: absolute;
	z-index: 6;
	pointer-events: none;
	top: 0.0em;
	bottom: 0.0em;
	left: 0.0em;
	right: 0.0em;

}
/* ui element generated via network when user needs to choose a character */
.ui-charselect {
	position: absolute;
	pointer-events: auto;
	display: table;

	left: 0.0em;

	
	width: 35%;
	max-width: 510px;
	top: 0px;
	height: 100%;
	bottom: 0px;
	top: auto;

	background-color: rgba(50, 50, 50, 0.9);

}
.ui-charselect-item {
	/*position: absolute;*/
	background-color: rgb(175, 175, 175);
	width: 75%;
	margin: 10% auto;
	height: 15%;

	box-shadow: inset 2px 2px 1px #000, inset -2px -2px 1px #000;
	border: 0.0625em solid #fff;

	max-width: 500px;
	max-height: 140px;

	padding: 10px;
}
.ui-charselect-item:hover {
	background-color: rgb(200, 200, 200);
}
.ui-charselect-item:active {
	background-color: rgb(100, 100, 100);
}

.ui-charselect-item > div {
	position: relative;

	width: 100%;
	height: 100%;

	font-size: 20px;
	text-align: center;
	color: #fff;
	text-shadow: -1px -1px 1px #000;


}

/* ui element for text input/output */
.ui-console {
	position: absolute;
	pointer-events: auto;
	height: 200px;
	top: 1em;
	left: 40%;
	right: 5%;
	background-color: rgba(100, 100, 100, 0.5);
	border: 0.0625em solid #000;
}
.ui-console-hidden {
	display: none;
}
.ui-console-collapse {
	height: 2em;
}
.ui-console-messagebody {
	position: absolute;
	font-size: 16px;
	overflow-y: scroll;
	left: 0px;
	right: 0px;
	top: 2.1em;
	bottom: 0.0em;

}
.ui-console-input {
	position: absolute;
	left: 0.0em;
	right: 4em;/*0.5625em;*/
	height: 2em;
}
.ui-console-input > input {

	box-shadow: 1px 1px 0px #000;
	border: 0px;
	position: absolute;
	left: 0.0em;
	height: 1.8em;
	right: 0.0em;
	top: 0.0em;
	bottom: 0.0em;
	width: 100%;
	padding: 0.0px 0.0px 0.0px 5.0px;
	background: linear-gradient(180deg, rgba(150, 150, 150, 0.5), rgba(225, 225, 225, 0.75), rgba(150, 150, 150, 0.5));
	font-size: 18px;
}
.ui-console-input > button {
	box-shadow: 0px 1px 0px #000, 1px 1px 0px #000, -1px -1px 0px #000, 1px -1px 0px #000;
	position: absolute;
	width: 4.35em;
	height: 100%;
	left: 100%;
	right: 0.0em;
	top: 0.0em;
	bottom: 0.0em;
	margin-left: 6px;
}
/* ui element that most other ui elements can be activated from */
.ui-menu {
	position: absolute;
	border: 1px solid #000;

	left: 0.0em;
	right: 0.0em;
	top: 0.0em;

	height: 2.5em;
}



/* mobile controller generated via input class */
#app-controller {
	position: absolute;
	
	z-index: 2;
	left: 0.00em;
	right: 0.00em;
	top: 0.00em;
	bottom: 0.00em;
}
.app-controller-key {
	/*float: left;*/
	position: absolute;
	width: 3.125em;
	height: 3.125em;
	border: 0.2em solid #fff;
	border-radius: 0.5em;
	margin: 15px;


	display: table;
	text-align: center;
}
.app-controller-key > div {
	display: table-cell;
	vertical-align: middle;
	word-break: break-all;
}
.app-controller-thumbs {
	position: absolute;
	border: 0.07em solid #fff;
	box-shadow: 0.07em 0.07em #000, -0.07em -0.07em #000, -0.07em 0.07em #000,  0.07em -0.07em #000;
	width: 8.0em;
	height: 8.0em;
	border-radius: 100%;
	margin: 3.5em;
	
}
.app-controller-settings-group {
	margin: 0 0 0 0;
	padding: 0.2em;
	border: 0.3em solid rgba(10, 10, 125, 0.5);
}
.app-controller-edit {

	background: url(/bin/client/data/spritesheet_1024x1024.png);
	background-position: 0.0em -4.0em;
	background-size: 32.0em;

	color: rgb(100, 100, 200);
	position: absolute;
	
	width: 4.0em;
	height: 4.0em;
	
	/*overflow: hidden;*/
}
.app-controller-edit-activate {
	position: absolute;
	
	padding: 5%;
	color: #fff;
	border: 10px solid #ff0;
	text-shadow: 0.0625em 0.0625em 0.0625em #000;
	background: rgba(100, 100, 200, 0.75);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	width: auto;
	overflow-y: scroll;
	font-size: 2em;
}
.app-hidden {
	display: none;
}
.app-transparent {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity: 0.20;
	-khtml-opacity: 0.20;
	opacity: 0.20; 
}

.app-top {
	top: 0.00em;
}
.app-bottom {
	bottom: 0.00em;
}
.app-left {
	left: 0.00em;
}
.app-right {
	right: 0.00em;
}

.app-center-horz {
	left: 50%;
	margin-left: -5.0em;
}
.app-center-horz-key {
	left: 50%;
	margin-left: -25px;
}

.app-controller-thumbs-dpad {
	background: url(/bin/client/data/spritesheet_1024x1024.png);
	background-position: -8.0em -8.0em;
}
.app-controller-thumbs-vec {
	background: url(/bin/client/data/spritesheet_1024x1024.png);
	background-position: -8.0em 0.0em;
}
.app-controller-thumbs-imprint {
	position: absolute;
	width: 0.312em;
	height: 0.312em;
	border: 0.343em solid #000;
	border-radius: 100%;
}
.app-slider {
	/*margin: ‭0.3125em;*/
	/*padding: ‭0.3125em;*/
	padding: 10px;
	margin: 0px;
	height: 25px;
	width: 50%;
	border: 5px solid #000;
}
.app-checkbox {
	width: 30px;
	height: 30px;
}
.app-selector {
	height: 30px;
	width: auto;
}
.app-buttons {
	width: 33%;
	height: 50px;
	padding: 5px;
	font-size: 24px;
}

.foreground {
	position: absolute;
	z-index: 1000 !important;
}