/* desktop */
body {
	background-color: rgb(200, 200, 200);
	position: initial;
	overflow: hidden;

	margin: 0.00em;
	padding: 0.00em;

	left: 0.00em;
	top: 0.00em;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
canvas {
	border: 0.00em solid #000;
	background-color: rgb(200, 200, 200);
}

#app-content {
	position: absolute;
	/*top: 15%;*/
	/*left: 25%;*/
	/*width: 500px;*/
	/*height: 500px;*/

	left: 0.00em;
	right: 0.00em;
	top: 0.00em;
	bottom: 0.00em;

	border: 0.00em solid #f00;
}
#app-loading {
	position: absolute;
	font-weight: bolder;
	font-size: 2em;
	border: 10px solid #ff0;
	height: ;
	text-align: center;
	
	pointer-events: none;
	left: 0.00em;
	right: 0.00em;
	top: 50%;
	vertical-align: bottom;
}
#app-controller {
	position: absolute;
	
	z-index: 1000000000;
	left: 0.00em;
	right: 0.00em;
	top: 0.00em;
	bottom: 0.00em;
}
.app-controller-key {
	/*float: left;*/
	position: absolute;
	width: 50px;
	height: 50px;
	border: 0.07em solid #fff;
	margin: 15px;
}
.app-controller-thumbs {
	position: absolute;
	border: 0.07em solid #fff;
	box-shadow: 0.07em 0.07em #000, -0.07em -0.07em #000, -0.07em 0.07em #000,  0.07em -0.07em #000;
	width: 9.0em;
	height: 9.0em;
	border-radius: 100%;
	margin: 3.5em;

}
.app-controller-edit {
	position: absolute;
	border: 10px solid #ff0;
	width: 3.125em;
	height: 3.125em;
}
.app-controller-edit-active {
	position: absolute;
	border: 10px solid #ff0;
	left: 0;
	right: 0;
	height: 250px;
}

.app-top {
	top: 0.00em;
}
.app-bottom {
	bottom: 0.00em;
}
.app-left {
	left: 0.00em;
}
.app-right {
	right: 0.00em;
}

.app-center-horz {
	left: 50%;
	margin-left: -5.0em;
}
.app-center-horz-key {
	left: 50%;
	margin-left: -25px;
}

.app-controller-thumbs-dpad {
	background: url(/bin/client/data/spritesheet_1024x1024.png);
	background-position: 0.5em 0.5em;
}
.app-controller-thumbs-vec {
	background: url(/bin/client/data/spritesheet_1024x1024.png);
	background-position: -7.5em 0.5em;
}

.app-controller-thumbs-imprint {
	position: absolute;
	width: 0.312em;
	height: 0.312em;
	border: 0.343em solid #000;
	border-radius: 100%;
}